.idea/
.vscode/

# Binary File
main
godemo
!godemo/

# Company File
company/
company_*

# Config file
*conf.json
ai_conf.json

# Tempoary file
*.temp

# Performance analysis file
*.profile
*.out

# Compilation file
*.o

# log
test/**/*.log
test/**/*.gz
*.log

*.p12
*.crt
*.key
*.pem
