.idea/
.vscode/

# Binary File
main
godemo

# Company File
company/
company_*

# Config file
*conf.json
ai_conf.json

# 临时文件
*.temp

# 性能分析文件
*.profile
*.out

# 汇编文件
*.o

# 日志文件
test/**/*.log
test/**/*.gz
